/* Estilo general */
body, input, select, button, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 4, 255, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
}

input, select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: none;
  border-color: #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}

button:disabled {
  background-color: #ccc;
}

button:hover:not(:disabled) {
  background-color: #357ABD;
}

.text-danger {
  color: rgb(254, 64, 64);
  font-size: 0.9rem;
}

ul.list-group {
  margin-top: 2rem;
  padding-left: 0;
}

ul.list-group li {
  list-style: none;
  background-color: #fff;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
